@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="~/Scripts/testWatch.js"></script>
<address>
    <strong >Bar-Ilan University</strong>
</address>

<address>
    <strong title="Phone">Phone:</strong>
    050-0000000
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:mardaniel2011@gmail.com">mardaniel2011@gmail.com</a><br />
</address>
<div>
<button id="testBtn" type="button" class="btn btn-success col-lg-12" >Test</button>
</div>
<h2><img id="loader" src="https://loading.io/spinners/double-ring/lg.double-ring-spinner.gif"></h2>