@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<address>
    <strong >Bar-Ilan University</strong>
</address>

<address>
    <strong title="Phone">Phone:</strong>
    050-0000000
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:mardaniel2011@gmail.com">mardaniel2011@gmail.com</a><br />
</address>