@{
    ViewBag.Title = "Home Page";
}

<script type="text/javascript">
    var myContractInstance;
    if (typeof web3 !== 'undefined') {
        web3 = new Web3(web3.currentProvider);
    } else {
        var Web3 = require('web3');
        var web3 = new Web3(new Web3.providers.HttpProvider('')); //http provider
        var version = web3.version.api;
        var contractABI = []; //the contract abi from remix
        if (contractABI != '') {
            var MyContract = web3.eth.contract(contractABI);
            myContractInstance = MyContract.at("0x"); //the contract address
        } else {
            console.log("Error");
        }
    }
</script>

<div class="jumbotron">
    <div class="col-md-8">
        <h1 class="">Lottery</h1>
        <p class="">Our Lottery is Full Randomized Lottery!</p>
    </div>

    <img src="~/Images/Block.gif" width="200px" height="150px"/>

</div>

<div >
    <div >
        <form id="play_form">
            <div class="row">
                <div class="col-md-8">

                    <div class="row">
                        <div class="col-md-5 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <h3>Insert Your commitment</h3>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="commitment">

                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="row">
                <div class="col-md-12">
                    <h3>Choose your lucky numbers from 1 to 37</h3>

                    <div class="row">
                        <div class="">
                            <div class="col-lg-2">
                                <input type="number" class="form-control" id="number1" pattern="1?[0-9]" min="1" step="1" max="37" placeholder="First number"> <span class="hr"></span>
                            </div>
                            <div class="col-lg-2">
                                <input type="number" class="form-control" id="number2" pattern="1?[0-9]" min="1" step="1" max="37" placeholder="Second number"><span class="hr"></span>
                            </div>
                            <div class="col-lg-2">
                                <input type="number" class="form-control" id="number3" pattern="1?[0-9]" min="1" step="1" max="37" placeholder="Third number"> <span class="hr"></span>
                            </div>
                            <div class="col-lg-2">
                                <input type="number" class="form-control" id="number4" pattern="1?[0-9]" min="1" step="1" max="37" placeholder="Forth number"> <span class="hr"></span>
                            </div>
                            <div class="col-lg-2">
                                <input type="number" class="form-control" id="number5" pattern="1?[0-9]" min="1" step="1" max="37" placeholder="Fifth number"> <span class="hr" style="display: none;"></span>
                            </div>
                            <div class="col-lg-2">
                                <input type="number" class="form-control" id="number6" min="1" max="37" placeholder="Sixth number"> <span class="hr"></span>
                            </div>

                            <div class="container">

                                <div>
                                    <label>Just let the fate to decide & Generate random numbers</label>
                                </div>
                                <div>
                                    <img type="button" onclick="setRandomNumbers()" style="width: 200px; height: 100px" src="../../Images/Lottery.jpg"></img>

                                </div>
                                <script type="text/javascript">
                                    function setRandomNumbers() {
                                        var number = "number";
                                        var runNumber;
                                        for (var i = 1; i < 7; i++) {
                                            runNumber = number;
                                            runNumber += i;
                                            document.getElementById(runNumber).value =
                                                Math.floor(Math.random() * 37) + 1;
                                        }

                                    }
                                </script>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div>
                <h3></h3>
            </div>
            <button type="submit" class="btn btn-success col-lg-12" onclick="play()">Play Now>></button>

            <script type="text/javascript">
                function play() {
                    if (myContractInstance.PlaceNumbersAndCommitment()) {

                    } else {

                    }
                }
            </script>

        </form>
    </div>
</div>