@{
    ViewBag.Title = "Home Page";
}

<script src="~/Scripts/ContractJS.js"></script>

<div class="jumbotron">
    <div class="col-md-8">
        <h1 class="">Lottery</h1>
        <p class="">Our Lottery is Full Randomized Lottery!</p>
    </div>

    <img src="~/Images/Block.gif" width="200px" height="150px"/>

</div>

<div>
    <div>
        <div class="row">
            <div class="col-md-3">
                <h3> </h3>
            </div>
            <div class="col-md-3">
                <h3>Insert Your Random</h3>
            </div>
            <div class="col-md-3">
                <h3><input type="number" min="1" max="20" class="inputRandom" id="randomNumber"></h3>
                
            </div>
            <div class="col-md-3">
                <h3> </h3>
            </div>

        </div>
        <div>
            <h3></h3>
        </div>
        <div class="form-group row">
            <div class="space">
                <button id="playBtn" type="button" class="btn btn-success col-md-3" onclick="play()">Play Now >></button>
            </div>
            <div class="col-md-1"></div>
            <div >
                <button id="randomBtn" disabled="disabled" type="button" class="btn btn-success col-md-3" onclick="sendRandom()">Send Your Random >></button>
            </div>
            <div class="col-md-1"></div>
            <div >
                <button id="checkForStartBtn" disabled="disabled" type="button" class="btn btn-success col-md-3 " onclick="checkIfLotteryCanStart()">Check If Lottery Can Start >></button>
            </div>
        </div>
        <div class="space">
            <img id="loading" style="visibility: hidden; width: 200px; height: 150px" src="~/Images/loading.gif" />
        </div>
    </div>
</div>